name: Deploy EC2 with Terraform

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::036890309295:role/github-terraform-role
          aws-region: eu-west-2

      - name: Terraform Init
        run: terraform init
        working-directory: terraform-ec2-github

      - name: Terraform Plan
        run: terraform plan
        working-directory: terraform-ec2-github

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: terraform-ec2-github
